.Head{
border-radius: 5px;
}

.Head p {
 color: white;
}

#NavBar{
  margin-bottom: 0px;
  background-color: rgba(111, 78, 55, 0.7) !important;
  border: none;
}

#Nav-button{
  font-style: italic;
  font-weight: bold;
  font-size: large;
  border: none;
  padding: 0 !important;
  height: 90px;
  width: 90px;
  border-radius: 45px;
  background-color: transparent;
  outline: none;
}

ul li a{
  padding: 0 !important;
  margin-top: 5px;
  margin-bottom: 5px;
}


#Nav-button:hover{
  background-color: white;
  color: black;
  animation: Nav-Button-Anime 1.5s;
}

@keyframes  Nav-Button-Anime{
    0% {
        
        opacity: 0;
    }

    100% {
        opacity: 1;
        
    }
}

@media (max-width: 768px){

  #Nav-button{
    width: 100%;
    border-radius: 20px;
  }
}


#jumbo{
  height: 100vh;
  color: white;
  background-color: rgba(111, 78, 55, 0.5);
  position: relative;
  z-index: 5;
}

#col{
    text-align: center;
}


#jumbo-cup{
  display: inline-block;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  text-align: center;
}

#jumbo-cup p{
  padding-top: 20px;
  font-style: italic;
  font-weight: bold;

}

#cup-image{
display: inline-block;
margin: 10px;
margin-top: 0;
}

#jumbo-cup:hover {
  background-color: white;
  color: black;
  animation: Jumbo-Cup-Anime 2.0s;
}

@keyframes  Jumbo-Cup-Anime{

    0% {
       opacity: 0 
    }
    100% {
       opacity: 1 
    }
}

#jumbo-cup:hover p {
  color: black;
}

#jumbo-cup:hover #cup-image{
animation: Coffee-Initial 1.0s;
}

@keyframes  Coffee-Initial{

    50% {
        transform: translate(0,5px) ;   
    }

}


#image{
  height: 50px;
  width: 50px;
}


.move{
    -webkit-animation: away 1s linear forwards;
}

    @-webkit-keyframes away {
    0% {
        opacity: 1; 
    }
    98% { 
        opacity: 1;             
        transform: translate(100vw) scale(1);
    }
    100% {   
        opacity: 0;         
        transform: translate(-100vw) scale(1);
    }
    }

#map {
  height: 100vh;
  width: 100vw;
  top: 0px;
}

#map p {
 color: black;
}

.Headless-header {
  text-align: center;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.Headless-header p {
 padding: 20px;
 font-size: 20px;
 color: black;
}

#saveBtn{
  position: fixed;
  bottom: 0px;
}



.button{
  margin-left: 5px;
  margin-right: 5px;
}

.hideIt{
  display: none;
}

#newInput{
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  padding: 10px;
}

.hideInput{
  display: none;
}

#new-place-header p{
  font-style: italic;
  font-weight: bold;
  font-size: 26px;
  margin: 0;
  padding: 0;
}

#grid{
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#grid p{
  font-style: italic;
  padding: 0;
}

#firstRow{
  margin: 0;
  padding: 0;
}
#firstRow p{
  font-size: small;
}

#inform{
  position: fixed;
  right: 0;
  top: 100px;
  width: 50px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.1);
  padding: 0;
}

#inform p{
  font-size: small;
  margin: 0;
  margin-bottom: -10px;
  padding: 0;
}

#img-div{
  margin-bottom: 5px;
}

#cup-coffee{
  height: 100%;
} 

